.my-info {
	padding: 10px 0;
	background-color: #fff;
}
.head-portrait {
	float: left;
	margin: 0 10px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border-radius: 12px;
}
.user {
	width: 60%;
	float: left;
	font-size: 16px;
	line-height: 25px;
}
.user .inline {
	width: 50%;
}
.user .mui-ellipsis-2 {
	color: #555;
	font-size: 14px;
}
.right-forward {
	float: right;
	margin-right: 10px;
	line-height: 60px;
}
.right-forward img{
	width: 25px;
	height: 25px;
}
/*******选项卡样式********/
.mui-bar~.mui-content .mui-fullscreen {
	top: 134px;
	height: auto;
}
.mui-slider-indicator {
	background-color: #fff;
}

.mui-segmented-control .mui-control-item {
	line-height: 15px;
	font-size: 12px;
}
.item-icon img {
	margin-top: 3px;
	width: 22px;
	height: 20px;
}
.mui-fullscreen .mui-segmented-control~.mui-slider-group {
	top: 42px;
}
/*********列表复选框*******/
.mui-table-view-cell .mui-checkbox {
	width: 40px;
}
.mui-table-view-cell .mui-checkbox input[type='checkbox'] {
	line-height: 70px;
}
/*******设置列表样式*********/
.mui-table-view .mui-media-object {
	line-height: 70px;
	max-width: 70px;
	height: 70px;
}
.mui-tab-item .mui-btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	border-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.mui-media-body .mui-ellipsis {
	/*font-weight: bold;*/
}
.mui-media-body .mun-check {
	color: #555;
}
.mui-media-body .mui-numbox {
	display: inline-block;
	vertical-align: middle;
}
.float-left {
	float: left;
	margin-top: 2px;
}
.float-right {
	float: right;
	margin-top: 2px;
}
.font-right {
	text-align: right;
}
.right-btn {
	float: right;
	margin-top: 3px;
	min-width: 82px;
	height: 33px;
	text-align: center;
	line-height: 33px;
	color: #fff;
	background: url(../../img/order/button.png) no-repeat;
	background-size: 100% 100%;
}
.font-line {
	line-height: 25px;
}
