.store {
	position: fixed;
	width: 100%;
	height: 100px;
	background: url(../../img/store-back.jpg) no-repeat;
	background-size: 100% 100%;
}
.store-logo {
	position: absolute;
	top: 54px;
	left: 20px;
	width: 60px;
	height: 60px;
}
.store-logo img {
	width: 60px;
	height: 60px;
}
.store-info {
	padding-top: 20px;
	margin-left: 100px;
	line-height: 25px;
}
.store-info .name {
	font-size: 16px;
	color: red;
}
.store-info .info {
	font-size: 12px;
}
.store-like {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: center;
	
}
.store-like span {
	color: red;
}
.store-like .num {
	font-size: 12px;
}
.store-ad {
	margin-top: 32px;
	font-size: 14px;
}
.store-ad .title {
	margin-left: 110px;
	color: red;
}

.mui-scroll-wrapper {
	top: 194px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell {
	font-size: 14px;
	text-align: left;
}
.mui-table-view-cell .info {
	color: #A95880;
}
